<<<<<<< HEAD
/*
----------------------------------------------------------------------------
Footer
----------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------
Forms
----------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------
Input Page
----------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------
Header
----------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------
Layouts
----------------------------------------------------------------------------
*/

/*
----------------------------------------------------------------------------
Footer
----------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------
Forms
----------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------
Input Page
----------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------
Header
----------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------
Layouts
----------------------------------------------------------------------------
*/
/*
@font-face {
 font-family: 'NeoSans';
 src: local('Social Font Face Regular'), local('Social Font Face'), url('NeoSans/NeoSans-Black.otf') format('truetype');
 url('NeoSans/NeoSans-BlackItalic.otf');
 url('NeoSans/NeoSans-Bold.otf');
 url('NeoSans/NeoSans-BoldItalic.otf');
 url('NeoSans/NeoSans-Italic.otf');
 url('NeoSans/NeoSans-Light.otf');
 url('NeoSans/NeoSans-LightItalic.otf');
 url('NeoSans/NeoSans-Medium.otf');
}
*/
 /*
.star-rating s:hover {
    color: yellow;
    font-size: 30px;
}


.star-rating s {
    color: #E5E4E2;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    line-height: 50px;
}
.star-rating {
    padding: 2px;
}
.star-rating s:hover:before, .star-rating s.rated:before {
    content: "\2605";
    color:#FFD801;
}
.star-rating s:before {
    content: "\2605";
} */
.text-white {
color:white;
}
      .code { display: none }
      .nod_msg { background: #fcc; display: inline-block; padding: 2px 5px; margin-left: 5px; border-radius: 5px; margin-top: -10px; }
      .container { 
      margin-top:20px; 
      /*width:1196px; */
      width:1240px;
      }
      h2 {margin-top:1.4em}
      .nod_msg {
        font-weight: bold;
      }
      .input-append, .input-prepend { font-size: 14px; } /* bug in bootstrap? */
      
      /* prettify */
      .com { color: #93a1a1; }
      .lit { color: #195f91; }
      .pun, .opn, .clo { color: #93a1a1; }
      .fun { color: #dc322f; }
      .str, .atv { color: #D14; }
      .kwd, .prettyprint .tag { color: #1e347b; }
      .typ, .atn, .dec, .var { color: teal; }
      .pln { color: #48484c; }
      
      .prettyprint {
        padding: 8px;
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
      }
      .prettyprint.linenums {
        -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
           -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
                box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
      }
      /* Specify class=linenums on a pre to get line numbering */
      ol.linenums {
        margin: 0 0 0 33px; /* IE indents via margin-left */
      }
      ol.linenums li {
        padding-left: 12px;
        color: #bebec5;
        line-height: 20px;
        text-shadow: 0 1px 0 #fff;
      }
      
.footer{
	margin-top: 70px;
  height: 100px;
width: 99%;
/*margin-left: 21px;*/
 /* background-color: #191919; */
}
.footer-top-border{
  /*height:1px;
  background-color:#29C3F0;*/
  height: 1px;
background-color: #29C3F0;
/*width: 1225px;
margin-left: 55px;*/
}
.footer-top-border-bottom {
  height:1px;
  background-color:#0F92B9;
  box-shadow:0px 2px 4px 2px #ECEDED;
/*  width: 1225px;
margin-left: 55px;*/
  
}
.my-legend-style {
font-family: 'NeoSans';
font-size:22px;
}
.footer-first-text{
  color: #ffb401;
  font-size: 34px;
  float: left;
  margin-left: 36px;
  margin-top: 28px;
  font-family: 'NeoSans';
  text-shadow: 1px 1px gray;
}
.footer-second-text{
  color: #dc2128;
  font-size: 34px;
  float: left;
  margin-left: 13px;
  margin-top: 28px;
  font-family:NeoSans;
  text-shadow: 1px 1px gray;
  font-weight:lighter;
}
.footer-third-text{
  color: #39babc;
  font-size: 34px;
  float: left;
  margin-left: 13px;
  margin-top: 28px;
  font-family:NeoSans;
  text-shadow: 1px 1px gray;
}
.pull-right{
  margin-right:40px;
}
[class*="span"]{
  margin-right: 22px;
}
.show-hower{
 float: left;
height: 53px;
width: 267px;
border: 1px solid red;
position: absolute;
margin-top: 214px;
background-color:#4c4c4c;
opacity: 0.5;

}
.img-title {
  color:white;
  font-size: 16px;
}
span.dropt {  float: left;}
span.dropt:hover span {left: 2%; } 
span.dropt span {position: absolute; left: -9999px;
margin: 4px 0 0 0px; padding: 3px 3px 3px 3px; 
border-style:solid;  border-width:0px;}

a.menu:after, .dropdown-toggle:after {
    content: none;
}
ul.nav li.dropdown:hover > ul.dropdown-menu{
    display: block;    
}

/*.navbar .dropdown-menu {
 margin-top: 0px;
} */
.my-menu{
border: 0px solid red;
display: inline;
float: left;
margin-left: 0px;
color: white;
height: 40px;
margin-top: -5px;
font-family: 'NeoSans';
}
.login-style {
/*background-color: #212121;
border-radius: 8px;*/
padding-top: 12px;
background-image:url(images/login-bg.jpg);
color: white;
font-family: 'NeoSans';
padding-right: 9px;
padding-left: 11px;
padding-bottom: 6px;
/*-webkit-box-shadow: -2px -1px 2px rgba(0, 0, 0, 1);
-moz-box-shadow:    -2px -1px 2px rgba(0, 0, 0, 1);
box-shadow:         -2px -1px 2px rgba(0, 0, 0, 1);*/
}
.join-us-style {
padding-top: 12px;
background-image:url(images/join-us-bg.jpg);
color: white;
font-family: 'NeoSans';
padding-right: 9px;
padding-left: 11px;
padding-bottom: 6px;
}
.logedin-style {
padding: 8px;
background-color: #212121;
border-radius: 8px;
color: white;
font-family: 'NeoSans';
margin-top: -4px;
float: right;
margin-right: -2px;
padding-left: 8px;
height: 17px;
}
.logedin-style:hover {
background-image: linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);
background-image: -o-linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);
background-image: -moz-linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);
background-image: -webkit-linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);
background-image: -ms-linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.19, rgb(197,31,36)),
	color-stop(0.6, rgb(201,35,40)),
	color-stop(0.8, rgb(205,39,45))
);
text-decoration: none;
color:white;
}
.login-style:hover {
background-image: linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);
background-image: -o-linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);
background-image: -moz-linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);
background-image: -webkit-linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);
background-image: -ms-linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.19, rgb(197,31,36)),
	color-stop(0.6, rgb(201,35,40)),
	color-stop(0.8, rgb(205,39,45))
);
text-decoration: none;
color:white;
border-radius:11px;
-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
-moz-box-shadow:    0px 0px 3px rgba(0, 0, 0, 0.8);
box-shadow:         0px 0px 3px rgba(0, 0, 0, 0.8);
}
.join-us-style:hover {
background-image: linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);
background-image: -o-linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);
background-image: -moz-linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);
background-image: -webkit-linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);
background-image: -ms-linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.19, rgb(197,31,36)),
	color-stop(0.6, rgb(201,35,40)),
	color-stop(0.8, rgb(205,39,45))
);
text-decoration: none;
color:white;
border-radius:11px;
-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
-moz-box-shadow:    0px 0px 3px rgba(0, 0, 0, 0.8);
box-shadow:         0px 0px 3px rgba(0, 0, 0, 0.8);
}
.mystyle-selected {
  position: relatiive;
  top: 100%;
  left: 0px;
  z-index: 1000;
  display: block;
  float: left;
  /*min-width: 1500px; */
  min-width:690px;
  padding: 8px 0;
  margin: 8px 0 0;
  list-style: none;
  background-color: transparent;
  text-color:white;
   border: 0px solid #ccc;
   overflow:hidden;
   
min-height:30px;

   border: 0px solid rgba(0, 0, 0, 0.2);
  transition-delay: 85s !important; 
 
  
 }
  .mystyle-selected > li > a {
  display: block;
padding: 3px 10px;
clear: both;
font-weight: normal;
line-height: 33px;
color: white;
white-space: nowrap;
font-size: 18px;
font-family: 'NeoSans'; 
}
.mystyle-selected li a:hover {
color:white;
background-repeat: repeat-x;
}

 
 
 
 
.mystyle {
  position: relatiive;
  top: 100%;
  left: 0px;
  z-index: 1000;
  display: none;
  float: left;
  /*min-width: 1500px; */
  min-width:690px;
  padding: 8px 0;
  margin: 8px 0 0;
  list-style: none;
  background-color: transparent;
  text-color:white;
   border: 0px solid #ccc;
   overflow:hidden;
   
min-height:30px;

   border: 0px solid rgba(0, 0, 0, 0.2);
  transition-delay: 85s !important; 
 
  
 }
 .mymenu a:hover {
 background-color:green;
 }
 .mystyle > li > a {
  display: block;
padding: 3px 10px;
clear: both;
font-weight: normal;
line-height: 33px;
color: white;
white-space: nowrap;
font-size: 18px;
font-family: 'NeoSans'; 
}
.mystyle li a:hover {
color:white;
background-repeat: repeat-x;
}
.my-font-style {
font-family: 'NeoSans';
font-size: 24px;
}
.my-font-style > li > a {
color:white;
border:0px solid red;


}
fornav {
    position:relative;
    margin-left:-22px;
    top:-3px;
    z-index:2;
}
#my-a-style {
height: 28px;
padding-top: 23px;
float: left;
margin-top: -10px;
border-radius: 3px;
}
.my-menu-selected {
	background-color:#A40000;
}
#my-a-style:hover, #my-a-style:focus {
background-image: linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -o-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -moz-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -webkit-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -ms-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, rgb(206,40,46)),
	color-stop(0.68, rgb(200,34,39)),
	color-stop(0.84, rgb(204,38,43))
);
}
#my-a-style-one {
height: 28px;
padding-top: 23px;
float: left;
margin-top: -10px;
border-radius: 3px;
}
#my-a-style-one:hover, #my-a-style-one:focus {
background-image: linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -o-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -moz-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -webkit-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -ms-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, rgb(206,40,46)),
	color-stop(0.68, rgb(200,34,39)),
	color-stop(0.84, rgb(204,38,43))
);
}
#my-a-style-two {
height: 28px;
padding-top: 23px;
float: left;
margin-top: -10px;
border-radius: 3px;
}
#my-a-style-two:hover, #my-a-style-two:focus {
background-image: linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -o-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -moz-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -webkit-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -ms-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, rgb(206,40,46)),
	color-stop(0.68, rgb(200,34,39)),
	color-stop(0.84, rgb(204,38,43))
);
}
#my-a-style-three,#my-a-style-four {
height: 28px;
padding-top: 23px;
float: left;
margin-top: -10px;
border-radius: 3px;
}
#my-a-style-three:hover, #my-a-style-three:focus, #my-a-style-four:hover, #my-a-style-four:focus {
background-image: linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -o-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -moz-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -webkit-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -ms-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, rgb(206,40,46)),
	color-stop(0.68, rgb(200,34,39)),
	color-stop(0.84, rgb(204,38,43))
);
}
.top-nav-menu-mouseover-style {
background-image: linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -o-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -moz-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -webkit-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);
background-image: -ms-linear-gradient(bottom, rgb(206,40,46) 36%, rgb(200,34,39) 68%, rgb(204,38,43) 84%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.36, rgb(206,40,46)),
	color-stop(0.68, rgb(200,34,39)),
	color-stop(0.84, rgb(204,38,43))
);
}
.my-font-style > li > a:last-child {
color:white;
border-right:none;
}
.logo-style {
margin-top: -20px;
float:left;
margin-left: 30px;
}
.admin-logo-style {
margin-top: -20px;
float:left;
}
.my-nav-style {
height: 60px;
 }
#menu-bg {
height: 40px;
width: 100%;
border: 0px solid yellow;
background-image: linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);
background-image: -o-linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);
background-image: -moz-linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);
background-image: -webkit-linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);
background-image: -ms-linear-gradient(bottom, rgb(197,31,36) 19%, rgb(201,35,40) 60%, rgb(205,39,45) 80%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.19, rgb(197,31,36)),
	color-stop(0.6, rgb(201,35,40)),
	color-stop(0.8, rgb(205,39,45))
);
/*-webkit-box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.89);
-moz-box-shadow:    0px -3px 5px rgba(0, 0, 0, 0.89);
box-shadow:         0px -3px 5px rgba(0, 0, 0, 0.89);*/
}
.login-style:hover {
color:white;
}
.myfooter {
float: none;
padding: 38px 13px 0px;
color: #777777;
text-decoration: none;
text-shadow: 0 1px 0 #ffffff;
font-size: 12px;
float: right;
}
.myfooter > li {
	list-style:none;
	line-height:0px;
	display: inline;
}
.myfooter li a {
float: right;
padding: 7px 8px 0px;
color: #777777;
text-decoration: none;
text-shadow: 0 1px 0 #ffffff;
margin-bottom: 7px;
}

.footer-copyright {
font-size: 11px;
color: gray;
padding-left: 0px;
border: 0px solid red;
width: 104px;
margin-top: -7px;
/*float: right;*/
margin-right: 2px;
/*font-size: 11px;
color: gray;
padding-left: 114px;
border: 0px solid red;
width: 100px;*/
}
.my-img-style {
border:0px solid red;
background-image:url(../images/icons/pic-bg.png);
height: 292px;
width: 292px;
/*margin-right:17px;*/
}
.login-dropdown {
position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #1b1b1b;
  border: 1px solid #1b1b1b;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
 -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
   
}
 .login-dropdown > li > a {
  display: block;
  padding: 3px 13px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: white;
  white-space: nowrap;
  font-size:14px;
  font-family:arial;
  
 
}
.top-bottom-margin {
margin-top: 15px;
margin-bottom: 15px;
}
.profile-product-box {
float: left;margin-left: 0px;margin-right: 10px;
}
.profile-about-me-box {
border:1px solid #e8e8e8;background-color:#fcfcfc;padding:10px;height: 100%;width:200px;
}
.profile-reviews-box {
border:1px solid #e8e8e8;background-color:#fcfcfc;padding:23px;
}
.follower-box-style {
border:1px solid #e8e8e8;background-color:#fcfcfc;padding:8px;
}
#twitter-btn {
height: 40px;
float: left;
margin-left: 10px;
}
#facebook-btn {
height: 40px;
float: left;
margin-left: 10px;
}
#mysearch-style {
background-color: #515151;
background-image: url(images/header-search-bg.jpg);
color: white;
font-size: 16px;
padding-left: 17px;
float: left;
margin-right: 10px;
height: 27px;
margin-top: -6px;
border: 0px;
font-family:Helvetica;
width: 205px;
}
#mysearch-style::-webkit-input-placeholder {
	color:white;
}
.my-input-style {
width:255px;
}
.forgot-password {
float: left;
margin-top: 15px;
margin-left: -83px;
}

#header-search-div {
 border: 0px solid red;
height: 40px;
width: 420px;
float: right;margin-top: -7px;
}
#login-join-us {
margin-top: 4px;
float: right;
margin-right: -38px;
padding-left: 8px;
font-size:18px;
}

#product-price-div {
float: right;
margin-right: 25px;
margin-top: -5px;
font-size:22px;
}
.my-li-style-for-admin {
color:#FFF;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:16px;	
}
.my-menu-for-admin{
border: 0px solid red;
display: inline;
float: left;
margin-left: 0px;
color: white;
height: 40px;
margin-top: -5px;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mystyle-for-admin {
  position: relatiive;
  top: 100%;
  left: 0px;
  z-index: 1000;
  display: none;
  float: left;
  /*min-width: 1500px; */
  min-width:755px;
  padding: 8px 0;
  margin: 8px 0 0 -150px;
  list-style: none;
  background-color: transparent;
  text-color:white;
   border: 0px solid #ccc;
   overflow:hidden;
   
min-height:30px;

   border: 0px solid rgba(0, 0, 0, 0.2);
  transition-delay: 85s !important; 
 
  
 }
.mystyle-for-admin > li > a {
  display: block;
padding: 3px 10px;
clear: both;
font-weight: normal;
line-height: 33px;
color: white;
white-space: nowrap;
font-size: 12px;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.mystyle-for-admin li a:hover {
color:white;
background-repeat: repeat-x;
}
.admin-login-logout-btn {
padding-top: 12px;
background-image:url(images/join-us-bg.jpg);
color: white;
font-family: 'NeoSans';
padding-right: 9px;
padding-left: 11px;
padding-bottom: 6px;
}
#admin-login {
float: right;
margin-right: -6px;
padding-left: 8px;
font-size: 18px;
margin-top:-20px;
}