<<<<<<< HEAD
/*
----------------------------------------------------------------------------
Footer
----------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------
Forms
----------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------
Input Page
----------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------
Header
----------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------
Layouts
----------------------------------------------------------------------------
*/
=======
/*
----------------------------------------------------------------------------
Footer
----------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------
Forms
----------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------
Input Page
----------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------
Header
----------------------------------------------------------------------------
*/


/*
----------------------------------------------------------------------------
Layouts
----------------------------------------------------------------------------
*/
.star-rating s:hover {
    color: yellow;
    font-size: 30px;
}


.star-rating s {
    color: #E5E4E2;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    line-height: 50px;
}
.star-rating {
    padding: 2px;
}
.star-rating s:hover:before, .star-rating s.rated:before {
    content: "\2605";
    color:#FFD801;
}
.star-rating s:before {
    content: "\2605";
}
.text-white {
color:white;
}
